---
layout: career
title: About
permalink: /about/
headerText: Zeros and ones and a lot more
image: /assets/images/code.jpg
---

{% include hero-title.html %}

<div class="about-content">
  <section id="introduction">

    <div class="container introduction">
      <p class="post-subheading">{{ page.title }}</p>
      <div class="m-all t1-t8 d1-d8">
        <h2>Technical excellence</h2>
        <p>
          We work with clients to ensure they have the right technical infrastructure
          in place, which includes systems, technology and processes. To facilitate this,
          we aim to take leading technology practice in order to provide unique and
          seamless software products and systems.
        </p>
      </div>
      <div class="m-all t10-t12 d10-d12">
        <div class="space"></div>
        <img src="/assets/images/gear.svg" />
      </div>
    </div>

    <div class="container introduction">
      <h2>How we create value</h2>
      <div class="m-all t1-t5 d1-d5">
        <div id="containerHeight">
          <p>
            We identify and unlock new sources of revenue related to existing and
            future digital assets. Our business strategists collaborate with clients
            to identify underlying business opportunities, new potential services,
            create valuable data and improve current systems and processes.
          </p>
        </div>
      </div>
      <div class="m-all t6-t7 d6-d7">
        <div class="arrow__horizontal--container hidden" id="arrow__horizontal">
          <div class="arrow__horizontal--inner mobile--hide">
            <img src="/assets/images/arrow.svg" />
          </div>
          <div class="arrow__horizontal--inner desktop--hide">
            <img src="/assets/images/arrow-vertical.svg" />
          </div>
        </div>
      </div>
      <div class="m-all t8-t12 d8-d12">
        <p>
          At Abtion we turn ideas and designs into functional, reliable products
          and services. <br />
          Our cross-disciplinary team is collaborative, and we strive to push
          boundaries of what software can enable for their users every day.
        </p>
      </div>
    </div>

    <div class="container introduction hidden" id="hatch">
      <h2>Our services</h2>
      <div class="m-all t1-t6 d1-d6">
        <h3>Web applications</h3>
        <p>
          When we build our web applications, we aim to build seamless, responsive
          products with a fast performance across all types of platforms. Our expertise
          within the newest and best-in-class technologies allows us to build high value,
          customized and beautiful products.<br />
          At Abtion we have a fast-forward approach to technology, and we try to
          test and implement new technologies and languages if they have proven
          their worth and steadiness to us. Languages that we love to work with
          when we build web applications are typically Ruby on Rails, React, Meteor.
        </p>
      </div>
      <div class="m-all t8-t12 d8-d12">
        <div class="space"></div>
        <img src="/assets/images/webapp.svg" />
      </div>
    </div>

    <div class="container introduction" id="hatch">
      <div class="m-all t1-t4 d1-d4">
        <div class="space"></div>
        <img src="/assets/images/iphone.svg" />
      </div>
      <div class="m-all t6-t12 d6-d12">
        <h3>Mobile Apps</h3>
        <p>
          When we build mobile apps our primary focus is on the user experience
          and the consumer engagement across devices and platforms. We build
          mobile apps for iOS and Android. Usually we use tools like Cordova
          and PhoneGap in order to create web-based apps and fast-pacing prototypes.
        </p>
      </div>
    </div>

    <div class="container introduction">
      <div class="m-all t1-t6 d1-d6">
        <h3>E-Commerce</h3>
        <p>
          We build and implement high-end, tech heavy and cloud-based e-commerce
          platforms and websites. We build in Wordpress with woocommerce, backbone, React a.o.
        </p>
      </div>
      <div class="m-all t8-t12 d8-d12">
        <div id="basket" class="hidden">
          <div class="space"></div>
          <img src="/assets/images/basket.svg" />
        </div>
      </div>
    </div>

    <div class="container introduction hidden" id="games">
      <div class="m-all t1-t4 d1-d4">
        <div class="space"></div>
        <img src="/assets/images/pacman.svg" />
      </div>
      <div class="m-all t6-t12 d6-d12">
        <h3>Games</h3>
        <p>
          When work become play. It’s not a secret that building games is something
          we love at Abtion. We are proud to have build games for some of the
          biggest companies in Denmark, and we strive to create the best
          experience for the end-user.
        </p>
      </div>
    </div>



  </section>

  <div class="light-gray">
    <div class="container">
      <div class="space"></div>
    	<h2>Headhunters menu</h2>
    	<p>Every week at least one headhunter tries to snatch an Abtion team member. Only two have succeeded in six years, so just keep trying…</p>
    </div>
    <div class="team" style="background: url(/assets/images/Anders.jpg); background-size: cover;">
      <div class="info">
        <div class="profile">
          <p class="name">Anders Skouboe<br>Front-end developer</p>
        </div>
      </div>
    </div>

    <div class="team" style="background: url(/assets/images/Andreas.jpg); background-size: cover;">
      <div class="info">
        <div class="profile">
          <p class="name">Andreas Bødker<br>CEO</p>
        </div>
      </div>
    </div>

    <div class="team" style="background: url(/assets/images/Bo.jpg); background-size: cover;">
      <div class="info">
        <div class="profile">
          <p class="name">Bo Kønskov<br>Digital Strategist</p>
        </div>
      </div>
    </div>

    <div class="team" style="background: url(/assets/images/Christian.jpg); background-size: cover;">
      <div class="info">
        <div class="profile">
          <p class="name">Christian Thomsen<br>Front-end developer</p>
        </div>
      </div>
    </div>
    
    <div class="team" style="background: url(/assets/images/Ian.jpg); background-size: cover;">
      <div class="info">
        <div class="profile">
          <p class="name">Dejan Stokanić<br>Back-end developer</p>
        </div>
      </div>
    </div>

    <div class="team" style="background: url(/assets/images/Hari.jpg); background-size: cover;">
      <div class="info">
        <div class="profile">
          <p class="name">Hari Carreras Perez<br>Back-end developer</p>
        </div>
      </div>
    </div>


    <div class="team" style="background: url(/assets/images/HV.jpg); background-size: cover;">
      <div class="info">
        <div class="profile">
          <p class="name">Helle-Vibeke Schütte<br>Client lead</p>
        </div>
      </div>
    </div>

    <div class="team" style="background: url(/assets/images/Jacob.jpg); background-size: cover; background-position: 10% 10%">
      <div class="info">
        <div class="profile">
          <p class="name">Jacob Juul<br>Front-end developer</p>
        </div>
      </div>
    </div>

    <div class="team" style="background: url(/assets/images/Jesper.jpg); background-size: cover;">
      <div class="info">
        <div class="profile">
          <p class="name">Jesper Sørensen<br>App and game developer</p>
        </div>
      </div>
    </div>

    <div class="team" style="background: url(/assets/images/placeholder.svg); background-size: cover;">
      <div class="info">
        <div class="profile">
          <p class="name">Lasse Svanholm<br>Accountant</p>
        </div>
      </div>
    </div>

    <div class="team" style="background: url(/assets/images/Magnus.jpg); background-size: cover;">
      <div class="info">
        <div class="profile">
          <p class="name">Magnus Hylander Friis<br>Front-end developer</p>
        </div>
      </div>
    </div>

    <div class="team" style="background: url(/assets/images/Nicolai.jpg); background-size: cover;">
      <div class="info">
        <div class="profile">
          <p class="name">Nicolai Seerup<br>Back-end developer</p>
        </div>
      </div>
    </div>

    <div class="team" style="background: url(/assets/images/Muffi.jpg); background-size: cover;">
      <div class="info">
        <div class="profile">
          <p class="name">Muffi<br>HR Manager</p>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  {% if site.categories.career != null %}
    <div class="container">
      <h2>We are hiring</h2>
      <p>We are looking for talented developers to join our teams in Copenhagen and Odense. Want to work at Abtion?</p>
      <a href="/careers"><button>Open positions</button></a>
      <div class="space"></div>
      <div class="space"></div>
    </div>
  {% endif %}
</div>
