---
layout: default
---
{% include hero.html %}

<div class="content">
  <div class="container">

    <div class="m-all t-all d-all">
      <section id="introduction">
        <div class="introduction development">
          <h2>We are a software company</h2>
          <p>Abtion is not another digital agency. We are a software company. We build software that transform companies and make people's life better, easier and more fun. We build software that works.</p>
    			<a href="/about"><button>Our services</button></a>
        </div>
      </section>
    </div>
  </div>

  <div class="clear"></div>

  <section id="clients">
    <div class="client-wrapper">
      <div class="m-all">
        <div class="client" style="background-image: url(./assets/images/logos/logo-aon.png);"></div>
        <div class="client" style="background-image: url(/assets/images/logos/logo-ase.png);"></div>
        <div class="client" style="background-image: url(/assets/images/logos/logo-cocks.png);"></div>
        <div class="client" style="background-image: url(/assets/images/logos/logo-cocacola.png);"></div>
        <div class="client" style="background-image: url(/assets/images/logos/logo-cbs.png);"></div>
        <div class="client" style="background-image: url(/assets/images/logos/logo-banedanmark.png);"></div>
        <div class="client" style="background-image: url(/assets/images/logos/logo-microsoft.png);"></div>
        <div class="client" style="background-image: url(/assets/images/logos/logo-dm.png);"></div>
        <div class="client" style="background-image: url(/assets/images/logos/logo-maersk.png);"></div>
        <div class="client" style="background-image: url(/assets/images/logos/logo-hk.png);"></div>
        <div class="client" style="background-image: url(/assets/images/logos/logo-cph.png);"></div>
        <div class="client" style="background-image: url(/assets/images/logos/logo-lego.png);"></div>
        <div class="client" style="background-image: url(/assets/images/logos/logo-ma.png);"></div>
        <div class="client" style="background-image: url(/assets/images/logos/logo-mentos.png);"></div>
        <div class="client" style="background-image: url(/assets/images/logos/logo-skat.png);"></div>
        <div class="client" style="background-image: url(/assets/images/logos/logo-novo.png);"></div>
        <div class="client" style="background-image: url(/assets/images/logos/logo-fsr.png);"></div>
        <div class="client" style="background-image: url(/assets/images/logos/logo-sas.png);"></div>
      </div>
    </div>
  </section>

  <div class="clear"></div>

  <div class="container">
    <div class="m-all">
      <section id="join">
        <div class="join">
          <a class="play-icon-work" href="/clients">Still not convinced?</a>
          {% if site.categories.career != null %}
            <div class="container">
              <h2>We are hiring</h2>
              <p>We are looking for a talented project manager to join our team in Copenhagen. Want to work at Abtion?</p>
              <a href="/careers"><button>Open positions</button></a>
              <div class="space"></div>
              <div class="space"></div>
            </div>
          {% endif %}
        </div>
      </section>
    </div>
  </div>
  <div class="space-big"></div>
</div>
