<div id="footer">
  <div class="container">
    <section id="contact">
    <div class="m-all t1-t4 d1-d4 align-center">
        <p>+45 70 60 60 70<br>
				  <a href="mailto:mail@abtion.com">mail@abtion.com</a>
			  </p>
    </div>
    <div class="m-all t5-t8 d5-d8 align-center">
        <p>Danas Plads 17A<br> 1915 Frederiksberg C</p>
    </div>
    <div class="m-all t9-t12 d9-d12 align-center">
        <p>Brandts Passage 8<br> 5000 Odense C</p>
    </div>
    </section>

    <div class="clear"></div>

    <div class="m6-m8 t6-t7 d6-d7 align-center">
      <div class="github">{% include icon-github.html %}</div>
  </div>
</div>

<script src="/js/modernizr.custom.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/smooth-scroll.js"></script>
<script src="/js/script.js"></script>
<script src="/js/gridset-overlay.js"></script>
