/*************
HEADER
*************/

span.icon-abtion-logo {
  font-size: 1.4em;
}

#header h1 {
  margin: 35px 0 0 50px;
}

#trigger-overlay .patty::after,
#trigger-overlay .patty::before,
#trigger-overlay .patty  {
  width: 40px;
}

#trigger-overlay {
  top: 52px;
  right: 80px;
}

/************
LAYOUT
************/

.content {
  margin-top: 600px;
}

.overlay ul li {
  font-size: .9em;
}


/*************
TYPO
*************/
h2 {
  font-size: 3em;
}

p {
  font-size: 1.3em;
}

/****************
ABOUT
****************/

.team {
  width: 16.6667%;
  height: 16vw;
}

/**************
VIDEO
**************/

#hero .hero-overlay {
  height: 600px;
}

#hero-about,
#hero-kappture,
#hero-licegame,
#hero-lego,
#hero-treo,
#hero-work {
  height: 600px;
}

#hero .video-teaser-play {
  width: 70px;
  height: 70px;
  top: 300px;
}

#hero .video-teaser video {
  width: 100%;
}

#hero-contact {
  height: 600px;
}

.client {
  width: 16.6667%;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.container__align--left {
  margin-left: 60px;
}

/*************
CASES
*************/

.inner h2 {
  font-size: 5.5em;
  opacity: .9;
  margin-top: $space*8;
}

.quote-padding {
	padding: 100px 100px 50px 100px;
}

.case-quote-padding {
  width: 100%;
  padding: 160px 60px;
}

blockquote {
  font-size: 1.5em;
}

.work-content {
  width: 72%;
  margin: 0 auto;
}

.case-bg,
.case-quote-img {
    height: 550px;
}

.center-top {
  height: 550px;
}

/************
WORKS
************/
.full-screen {
  height: 750px;
}

.play-icon-work {
  & span {
    border: 4px solid $lightblue;
  }
}

/************
CAREER
************/
.career {
  & h2 {
    font-size: 4em;
    margin-top: $space*7;
  }
}

/************
EDITOR
************/

.ace_editor {
  width: 100%;
}

/*************
FOOTER
*************/

#footer p {
  font-size: 1em;
}
