/*************
HEADER
*************/

span.icon-abtion-logo {
  font-size: 2em;
}

#header h1 {
  margin: 35px 0 0 50px;
}

#trigger-overlay .patty {
    margin: 9px 0;
}

#trigger-overlay .patty::after,
#trigger-overlay .patty::before,
#trigger-overlay .patty  {
  width: 50px;
}

#trigger-overlay .patty::before {
    top: 3px;
}

#trigger-overlay.active .patty {
    margin-top: -2px;
}

#trigger-overlay {
  top: 52px;
  right: 80px;
  padding: 15px;
}

#trigger-overlay .patty::after {
  top: 13px;
}

.top-banner {
  height: 700px;
}

#hero-title {
  height: 100%;
}

/**************
LAYOUT
**************/
.content {
  margin-top: 800px;
}

.container {
  width: 1280px;
  padding: 4% 0 4% 0;
}

.container__align--left {
  margin-left: 110px;
}

.top-banner {
  height: 700px;
}

/************
VIDEO
**************/

#hero .video-teaser-play {
  top: 400px;
}

#hero .hero-overlay {
  height: 800px;
}

#hero .hero-overlay {
  height: 800px;
}

#hero-about,
#hero-kappture,
#hero-licegame,
#hero-lego,
#hero-treo,
#hero-work {
  height: 800px;
}

.client {
  width: 11.1%;
}

.team .name {
  font-size: 1.6em;
}

/*************
CASES
*************/

.inner h2 {
  font-size: 8em;
}

.work-img {
  height: 735px;
}

.work-content p {
  width: 98%;
}

.work-content {
  height: 650px;
  margin: 0 auto;
  width: 68%;
}

.cases-content {
  margin-top: 700px;
}

.case-bg,
.case-quote-img {
    height: 850px;
}

.center-top {
  height: 850px;
}

blockquote {
  font-size: 2.5em;
}

.case-quote-padding {
  padding: 280px 160px;
}

/************
CAREER
************/

.career {
  & h2 {
    font-size: 6em;
  }
}

p.under-title {
  font-size: 1.8em;
}

/*************
FOOTER
*************/

#footer p {
  font-size: 1.2em;
}
