.case-quote-img {
    height: 280px;
}

.case-small-padding {
  padding: $space*3 $space*5;
}

.team {
  width: 33.3333%;
  height: 33vw;
}

// .posts-content {
//   margin-top: 45vw;
// }
//
// #hero-works {
//   height: 45vw;
// }
//
// .top-banner {
//   height: 45vw;
// }

// .inner h2 {
//   display: table-cell;
//   vertical-align: middle;
// }

// .inner h2 {
//   font-size: 1.8em;
//   color: #FFF;
//   margin-top: 80px;
// }
//
// p.under-title {
//   color: $white;
//   display: table-cell;
//   vertical-align: middle;
//   float: left;
// }
