/*************
HEADER
*************/

span.icon-abtion-logo {
  font-size: 1.4em;
}

#header h1 {
  margin: 15px 0 0 25px;
}

p {
  font-size: 1.1em;
}

#trigger-overlay .patty::after,
#trigger-overlay .patty::before,
#trigger-overlay .patty  {
  width: 40px;
}

#trigger-overlay {
  top: 22px;
  right: 50px;
}

.container {
  height: 100%;
  margin: 0 40px;
}

#introduction {
  padding: 10px 0;
}

.join {
  padding: 40px 0;
}


/**********
LAYOUT
***********/
.last {
  float: right !important;
  margin-right: 0 !important;
}

.col-padding {
  padding: 0 $space*1.5 0 0;
}

.client {
  height: 250px;
}

.float--right {
  float: right;
}



/************
VIDEO
************/

#hero .video-teaser video {
width: 100%;
}

#hero .video-teaser {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56.4vw;
}

#hero .hero-overlay {
  height: 56.4vw;
}

#hero .video-teaser-play {
  top: 28vw;
}

#hero-about,
#hero-kappture,
#hero-licegame,
#hero-lego,
#hero-treo,
#hero-work,
#hero-contact
 {
  height: 56.4vw;
}
.content {
  margin-top: 56.4vw;
}

#hero-contact {
  & p {
    font-size: 1.6em;
  }
}

.container__align--left {
  margin-left: 40px;
}

/************
ABOUT
*************/

.team {
  width: 25%;
  height: 25vw;
}

/**********
CLIENTS
***********/

.client {
  width: 33.3333%;
}

/**********
CASES
**********/

.work-content {
  height: 415px;
  margin: 0 40px;
}

.work-content:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

p.subheading {
  padding-top: 20px;
}

.inner h2 {
  font-size: 2.4em;
  margin-top: 150px;
}

.work-img {
  height: 500px;
  width: 50%;
  position: relative;
  float: left;
  margin-right: 40px;
  overflow: hidden;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: table;
}

.col-2-text{
    display: table;
    width: 50%;
  	height: 800px;
  	background: #BC425B;
  	color: #fff;
}

.case-quote-img {
  height: 400px;
}

.case-bg {
  height: 400px;
}

.work-small-img {
  padding: $space*2;
}

.case-quote-padding {
  padding: 80px 60px;
  text-align: left;
}

.center-top {
  height: 350px;
  padding-top: 0;
}

.case-small-padding {
  padding: $space*3 $space*5;
}

/**************
CAREER
***************/

.career {
  & h2 {
    margin-top: $space*8;
  }
}

p.under-title {
  font-size: 1.4em;
  margin-bottom: $space*6;
}

/***************
WORKS
***************/
.full-screen {
  height: 450px;
}
