.crossRotate:active {
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
}

body {
  font-family: $serif;
  color: $text-color;
  font-size: $base-font-size;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.wrapper{
	padding: 0;
}

button {
  @include normal-button;
  font-size: 20px;
}

.clear {
  clear: both;
}

.space {
  height: $space;
}

.space-big {
  height: $space*2;
}

.content {
  background: #fff;
  position: relative;
  z-index: 10;
  margin-top: 56.4vw;
}

.content video {
  margin-top: 56.4vw;
}

/************
LAYOUT
************/

.container {
  height: 100%;
  margin: 0 12px;
}

.container:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.introduction {
  padding: 40px 0 60px 0;
}

/***********
  JOIN
************/

#join{
	width: 100%;
}

.join {
  float: left;
  padding: 40px 0;
}

/************
  TYPO
************/

a {
  color: #4A90E2;
  text-decoration: none;
}

a:focus{
	outline: 0 !important;
}

p {
  font-weight: 200;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 1.3em;
  opacity: 0.7;
}

p.subheading {
	opacity: 0.6;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 5px;
	font-size: 15px;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
}

h2 {
  font-size: 2em;
  line-height: 1.2;
  font-weight: 200;
  margin-bottom: $space;
  opacity: 0.8;
}

h3 {
  font-size: 30px;
  margin-bottom: $space;
  font-weight: 200;
  opacity: 0.8;
}

input,
textarea,
button {
  font-family: $serif;
  text-rendering: optimizeLegibility;
}

.splitter {
	border-top: 1px solid orange;
	width: 50px;
	padding: 10px 0 20px 0;
}

.more {
	font-size: 20px;
	letter-spacing: 2px;
	color: #fff;
	display: inline;
	border-bottom: 1px solid #fff;
}

.quote-padding {
	padding: 100px 100px 50px 100px;
}

.vertical-center .quote-padding {
	padding: 100px 100px 100px 100px;
}

/**************
  HEADER
**************/

#header {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 2px;
  z-index: 11;
  cursor: default;
  -webkit-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;
}

#header h1 {
  line-height: 1;
  font-weight: 200;
  text-transform: uppercase;
  float: left;
  overflow: hidden;
  margin: 20px 0 0 15px;
}

span.icon-abtion-logo {
  color: $white;
  font-size: 1em;
}

/***************
  NAVIGATION
***************/

#trigger-overlay {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 74px;
    padding: 10px;
    position: absolute;
    right: 25px;
    top: 20px;
    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0s;
    width: 44px;
    z-index: 1000;
}

#trigger-overlay .patty {
    background: #fff none repeat scroll 0 0;
    height: 2px;
    margin: 10px 0;
    width: 30px;
    @include ease-2s;
}

#trigger-overlay .patty::after,  #trigger-overlay .patty::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    width: 30px;
    @include ease-2s;
}

#trigger-overlay .patty::before {
    top: 0px;
}

#trigger-overlay .patty::after {
    top: 10px;
}

#trigger-overlay.active .patty {
  margin-top: 0px;
}
#trigger-overlay.active .patty::before {
  margin-top: 10px;
}


/**********************
  NAVIGATION OVERLAY
***********************/

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #353740;
  z-index: 10;
}

.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 30px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-weight: 200;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #e3fcb1;
}

.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

/***************
  CLIENTS
***************/

#clients {
	background: $light-gray;
	padding-bottom: 1px;
	padding-top: 1px;
}

.client-wrapper {
	padding: 0px;
	margin-bottom: $space;
}

.client {
  width: 50%;
  height: 250px;
  position: relative;
  float: left;
  border-left: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  overflow: hidden;
  background: #fff;
  box-sizing: border-box;
  background-size: 70% auto;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.client:hover{
  -webkit-filter: none;
  filter: none;
	background-color: $client-hover;
}

.client .info {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  cursor: default;
  transition: background .2s ease, opacity .2s ease;
}

.client .content {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -$space;
}

.client .name {
  width: 100%;
  font-weight: 600;
  opacity: 0;
  @include transform-y-minus-20px;
  @include ease-2s;
}

.client .description {
  font-weight: bold;
  font-size: 0.7em;
  color: #afb1b4;
  opacity: 0;
  padding: 0 20px;
  line-height: 150%;
  @include transform-y-plus-20px;
  @include ease-2s;
}

.client:hover .name,
.client:hover .description {
  opacity: 1;
  -webkit-transform: translateY(0);
}

.client:hover .info {
  background: rgba(255, 255, 255, .9);
}

/**********
  VIDEO
***********/

.video-hero {
  transition: all 5s ease;
}

#hero .video-teaser {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56.4vw;
  overflow: hidden;
  z-index: 0;
}

#hero .video-teaser video {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 0;
}

#hero .video-teaser-play:hover {
  opacity: 1;
}

#hero.video-play .container,
#hero.video-play .video-teaser-play {
  display: none;
}

#hero.video-play .hero-overlay {
  opacity: 0;
}

#hero .hero-overlay {
  background: #D54F7E;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56.4vw;
  opacity: .8;
  z-index: 1;
  transition: opacity .5s ease;
}

#hero.video-play .full-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  background: url('/assets/images/teaser.jpg') center center;
  background-size: cover;
}

#hero-about,
#hero-kappture,
#hero-licegame,
#hero-lego,
#hero-treo,
#hero-work {
  width: 100%;
  height: 56.4vw;
  position: fixed;
  float: left;
  background-size: cover;
  padding-top: 50px;
  box-sizing: border-box;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

#hero .container {
  position: fixed;
  z-index: 2;
}

.inner{
   position: fixed;
   line-height: 1.2;
   text-align: left;
   margin: 130px 0;
   padding: 40px 0 0 0;
}

// #hero .overlay {
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     position: absolute;
//     @include overlay;
// }


/***************
FOOTER
***************/

#footer {
  background: $footer-color;
  padding: 75px 0;
  text-align: left;
  color: #fff;
  position: relative;
  z-index: 10;
}
