/************
  COLORS
************/

$text-color:        #252b33;
$button-color:      #D54F7E;
$button-hover:      darken($button-color, 10%);
$white:             #FFF;
$blue:              #0846b9;
$light-blue:        #4a90e2;
$dark-gray:         #333;
$light-gray:        #e6e6e6;
$light-gray:        #f2f2f2;
$client-hover:      darken($light-gray, 0.5%);
$heading-color:     #252b33;
$footer-color:      #353740;
$lightcoral:        lightcoral;
$lightcoral-hover:  #D84B6A;
$lightyellow:       lightyellow;
$purple:            #404D6B;
$purple-hover:      #475683;
$mint-green:        #6BBEA2;
$mint-green-hover:  #8EDFC8;
$lightblue:         lightblue;
$lightblue-hover:   darken($lightblue, 20%);
$pink:              #BC425B;
$cadetblue:         cadetblue;
$cadetblue-hover:   darken ($cadetblue, 20%);

/************
  TYPO
************/

$serif:           'proxima-nova', "Proxima Nova", "Helvetica Neue", "Helvetica";
$base-font-size:  16px;


/************
  SPACES
************/

$space:           20px;
