---
layout: works
---

{% include works-head.html %}

<div class="posts-content">
  <header class="post-header">

    <section id="introduction">
      <div class="container introduction">
        <p class="post-subheading">{{ page.title }}</p>

        {{ content }}

      </div>
    </section>

  <div class="full-screen" style="background-image: url({{ page.imageFull }}); background-size: cover;"></div>

  <section id="introduction">
    <div class="container introduction">

      {{ page.section2 }}

    </div>
  </section>


  </header>
</div>
